.large-icon {
    height: 70px;
    width: 70px;
}

.small-icon {
    height: 70px;
    width: 70px;
    border: none;
}

.city-name {
    display: inline;
    position: relative;
}

.uv-index {
    background: red;
}
/* 
.search-history {
    border-style: solid; 
} */
